node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# Http-mitm-proxy
.http-mitm-proxy

temp

phân tích toàn bộ file trong phạm vi src/renderer/src. tìm ra các đoạn code trong các file mà bạn cho là sẽ gây lag, re-render, spam, frozenUI... thì đểu thêm log để 